<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/issue_track_system</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="hibernate.show_sql">false</property>
  <property name="current_session_context_class">thread</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">123456</property>
  
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.Attachment" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.Bug" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.BugChange" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.BugHistory" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.Comment" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.Component" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.Flag" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.FlagType" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.Group" />
 <mapping class="cn.edu.fudan.se.IssueLogMining.bean.User" />
 
      
 </session-factory>
</hibernate-configuration>
